/********************************* COMPANY LOGIN CSS *********************************/

/**dashboard/accounting**/
.page-header h4, .page-header .h4 {
    margin-bottom: 5px;
}
div.dataTables_wrapper div.dataTables_length select {
    margin: 0 5px;
}
/**calender**/
.btn-box label{
    margin-bottom: 10px;
}
/**dashboard/settings/brand-settings**/
@media screen and (max-width:1200px){
    .setting-logo-card {
        width: 260px;
    }
}
/**dashboard/page-header**/
@media (max-width: 575px){
    .page-header {
        padding: 13px 0px;
    }
}
@media (max-width: 575px){
    .card-body {
        padding: 25px 20px;
    }
}
/**dashboard/customer**/
@media (max-width: 575px){
    .breadcrumb{
        margin-bottom: 10px;
    }
}
.status-filter button {
    padding: 7px 12px !important;
}
@media screen and (max-width:576px){
    .setting-logo-card {
        width: 230px;
    }
}
/**dashboard/crm**/
.dash1-card {
    height: 185px !important;
}


/********************************* SUPERADMIN CSS *********************************/

.table th.text-end[data-sortable] {
    padding-right: 28px;
}
/********************************* LOGIN & REGISTER CSS *********************************/


@media screen and (max-width:576px){
    .navbar-brand-img{
        max-width: 150px !important;
        width: 100%;
    }
    .auth-wrapper .auth-content:not(.container) .card-body {
        padding: 40px 0px;
    }
}

/* NEW-CARD-CSS */

/**** responsive css  ******/
@media screen and (max-width:1440px) {
    .dashboard-card .card-inner .card-icon{
        padding: 20px;
    }
    .dashboard-card .card-inner .card-icon  svg {
        width: 70px;
        height: 70px;
    }
    .dashboard-project-card .card-inner{
        padding: 15px 10px;
    }
    .dashboard-project-card .card-content h3{
        font-size: 15px;
    }
    .dashboard-project-card{
        padding: 0 5px;
    }
    .dashboard-wrp .col-12{
        padding: 0 5px;
    }
    .dashboard-wrp{
        margin: 0 -5px;
    }
    .dashboard-project-card .card-content h4{
        font-size: 14px;
    }
}

@media screen and (max-width:767px) {
    .card:not(.table-card) .table tr td:first-child{
        padding-left: 10px !important;
    }
    /* 18-11-2024 */
    .bookinggo-card-wrapper .dashboard-card .card-inner .card-icon svg{
        width: 50px;
        height: 50px;
    }
    .bookinggo-card-wrapper .dashboard-card .card-inner{
        padding: 15px;
    }
    .bookinggo-card-wrapper .qr-card-inner .shareqrcode{
        max-width: 70%;
    }
    .bookinggo-card-wrapper .qr-card-inner .shareqrcode svg{
        width: 100%;
        height: 100% ;
    }

    .dashboard-super-admin-col .card-inner .btn-wrp{
        gap: 10px !important;
    }
    .dashboard-super-admin-col .dashboard-card .card-inner .card-content .btn{
        padding: 4px 5px;
    }
}

@media screen and (max-width:575px){
    .dashboard-card .card-inner{
        flex-direction: column-reverse;
        padding: 15px;
        gap:15px;
    }

    .dashboard-project-card::after{
        width: 50px;
        height: 50px;
    }
    .dashboard-card .card-inner .card-content{
        text-align: center;
        max-width: 100%;
    }
    .dashboard-card .card-inner .card-content p{
        max-width: 100%;
    }
    .dashboard-card .card-inner .card-icon  svg {
        width: 60px;
        height: 60px;
    }
    .dashboard-card .btn-wrp{
        justify-content: center;
    }
    /* 18-11-2024 */
    .bookinggo-card-wrapper .qr-card{
        max-width: 100%;
    }
}
@media (min-width:1501px)  and ( max-width:1700px){
    .qr-card-content .qr-btn{
        flex-direction: column;
        gap: 8px;
    }
    .qr-card-content .qr-btn span{
        max-width: 100%;
    }
}
@media screen and (max-width:1500px){
    .col-xxl-6.dashboard-super-admin-col{
        flex: 0 0 auto;
        width: 100%;
    }
    .qr-card-content .qr-btn{
        width: fit-content !important;
    }
}
