@media (hover: hover) {

    .btn:hover,
    .btn:focus {
        background-color: transparent;
        color: var(--theme-color);
    }

    .swiper-button-prev:hover:after,
    .swiper-button-next:hover:after {
        transform: translateX(0);
    }

    .site-footer .footer-social-icon li a:hover {
        background-color: var(--theme-color);
    }

    .site-footer .footer-social-icon li a:hover svg path {
        fill: var(--white);
    }

    .site-footer .footer-widget ul li a:hover {
        border-color: var(--border-color);
    }
}

@media screen and (min-width: 768px) {

    .site-header .main-navigationbar .main-nav li>a:before {
        content: '';
        position: absolute;
        bottom: -3px;
        right: 0;
        height: 2px;
        width: 0;
        background: var(--black);
        margin: 0 auto;
        opacity: 0;
        visibility: hidden;
        transition: all 500ms ease-in-out 0s;
        -webkit-transition: all 500ms ease-in-out 0s;
        -moz-transition: all 500ms ease-in-out 0s;
        -ms-transition: all 500ms ease-in-out 0s;
        -o-transition: all 500ms ease-in-out 0s;
    }

    .site-header .main-navigationbar .main-nav li>a:hover::before {
        opacity: 1;
        width: 100%;
        visibility: visible;
    }

    .site-header .contact-btn svg,
    .site-header .mobile-menu-button,
    .site-footer .footer-col .footer-widget .acnav-label1 svg {
        display: none;
    }

    .photo-service-sec .section-title {
        text-align: end;
        margin-bottom: 50px;
        max-width: 50%;
        margin-left: auto;
    }

    .photo-service-sec .col-md-6:nth-child(odd) {
        margin-top: -120px;
    }

    .photo-banner-content {
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .mobile-only {
        display: none !important;
    }
}

@media screen and (min-width: 1200px) {

    /* contact-right-inner */
    .contact-right-inner {
        padding-left: 30px;
    }

    .contact-right-bottom ul li p {
        font: normal 400 18px/1.2 var(--first-font);
    }

    .photo-banner-sec h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1600px) {
    .offset-right {
        margin-right: 0;
    }
}

@media screen and (max-width: 1199px) {

    :root {
        --h1: normal 500 40px/1.1 var(--second-font);
        --h2: normal 500 32px/1.1 var(--second-font);
        --h3: normal 400 24px/1.1 var(--second-font);
        --h4: normal 400 20px/1.1 var(--first-font);
        --h5: normal 500 18px/1.1 var(--first-font);
        --h6: normal 500 16px/1.1 var(--first-font);
        --common-text: normal 400 16px/1.2 var(--first-font);
    }

    .subtitle {
        margin-bottom: 8px;
    }

    /* home-banner-sec */
    .home-banner-sec .subtitle {
        font-size: 14px;
    }

    .home-banner-sec h2 {
        font-size: 20px;
    }

    .home-banner-sec .working-hrs-wrp ul li:not(:last-of-type) {
        margin-bottom: 8px;
    }

    /* photo-about-sec */

    .photo-about-sec .counter-item span {
        margin-bottom: 8px;
        font-size: 18px;
    }

    .photo-about-sec .counter-wrp .counting {
        font-size: 26px;
    }




    /* appointment-sec */
    .appointment-sec .check-box-div li {
        max-width: 25%;
        flex: 0 0 25%;
    }

    /* gallery-sec */

    .gallery-title {
        padding: 30px 15px;
    }

    .gallery-sec h2 {
        font-size: 70px;
        letter-spacing: 8px;
        margin: -70px 0 0 0;
    }

    /* footer */

    .site-footer .footer-wrapper {
        padding: 60px 0;
    }

    .site-footer .footer-logo a {
        max-width: 100px;
    }

    .footer-wrapper .footer-left {
        max-width: 380px;
    }

    .site-footer .footer-right {
        max-width: calc(100% - 400px);
    }

    .site-footer .footer-col:not(:first-child) {
        padding-left: 25px;
    }

    .site-footer .footer-col h2 {
        font-size: 20px;
    }

    .footer-wrapper .footer-left p,
    .site-footer .footer-widget ul li a,
    .site-footer .footer-widget ul li p,
    .footer-bottom p,
    .article-content-bottom a {
        font-size: 16px;
    }

    .author-name p,
    .article-content-top .comment {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    :root {
        --h1: normal 500 34px/1.1 var(--second-font);
        --h2: normal 500 28px/1.1 var(--second-font);
        --h3: normal 400 20px/1.1 var(--second-font);
    }

    .desk-only {
        display: none !important;
    }

    .pb {
        padding-bottom: 40px;
    }

    .pt {
        padding-top: 40px;
    }

    .btn {
        padding: 10px 15px;
        font-size: 14px;
        letter-spacing: 0;
    }

    /* swiper */
    .swiper-button-prev,
    .swiper-button-next {
        height: 25px;
        width: 25px;
    }

    .swiper-button-next:after {
        transform: translateX(-12px);
    }

    .swiper-button-prev:after {
        transform: translateX(12px);
    }

    /* header */
    .site-header .main-navigationbar .logo-col {
        max-width: 80px;
    }

    .site-header .main-navigationbar .menu-items-col .main-nav>li:not(:last-of-type) {
        padding-right: 20px;
    }

    .site-header .main-navigationbar .menu-items-col .main-nav>li a {
        font-size: 14px;
    }

    /* footer */

    .site-footer .footer-wrapper {
        padding: 40px 0;
    }

    .footer-wrapper .footer-left {
        max-width: 100%;
    }

    .site-footer .footer-logo {
        text-align: center;
    }

    .site-footer .footer-right {
        max-width: 100%;
        margin: 40px 0 0 0;
    }

    .site-footer .footer-col:not(:first-child) {
        padding-left: 20px;
    }


    /* home-banner-sec */
    .home-banner-sec .working-hrs-wrp {
        margin: 0;
    }

    .home-banner-sec .arrow-wrapper {
        margin: 0 auto;
    }

    .home-banner-sec .working-hrs-wrp ul li span,
    .home-banner-sec .working-hrs-wrp ul li p {
        font-size: 14px;
    }

    .home-banner-sec .working-hrs-wrp h3 {
        font-size: 16px;
        text-align: left;
    }

    /* photo-service-sec */
    .photo-service-sec .photo-card-content span {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .portfolio-slider {
        padding: 30px 0;
    }

    /* appointment */
    .appointment-sec .check-box-div li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

    .appointment-sec .appointment-wrp .nice-select.form-control {
        border-radius: 12px;
    }

    /* testimonial */

    .arrow-wrapper {
        max-width: 90px;
    }

    .testimonial-sec h2 {
        font-size: 8vw;
    }

    .testimonial-sec {
        padding: 70px 0 40px 0;
    }

    .article-slider-wrp {
        margin: 40px 0 0 0;
    }

    /* article */
    .article-card-inner .article-card-image {
        max-width: 170px;
    }

    /* contact-us */

    .contact-us .contact-left-inner {
        border-radius: 15px;
    }

    .contact-us .contact-form .form-container {
        padding: 15px;
    }

    .contact-us .form-container .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .contact-us .form-container .row [class*="col-"] {
        padding: 0 5px;
    }

    .contact-left-inner .form-container .form-control {
        border-radius: 12px;
        padding: 10px;
    }

    /* contact-direction-sec */

    .contact-direction-sec {
        margin: 40px 0 70px;
    }

    /* gallery-sec */
    .gallery-title {
        padding: 20px 15px;
    }

    .gallery-sec h2 {
        font-size: 50px;
        margin: -50px 0 0 0;
        text-align: center;
        color: var(--black);
    }

}

@media screen and (max-width: 767px) {

    .offset-right {
        padding: 0 15px;
    }

    .section-title {
        letter-spacing: 0;
        text-align: center;
    }

    /* site-header */
    .site-header .contact-btn span,
    .menu-item-right .mobile-menu-button svg.close-icon {
        display: none;
    }

    .site-header .mobile-menu {
        display: block;
    }

    .main-nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: var(--second-color);
        padding: 15px;
        box-shadow: 0 3px 12px 0px #0000001f;
        border-top: 1px solid var(--black);
        z-index: 2;
    }

    .main-nav.open {
        display: block;
    }
    .site-header .menu-item-left {
        display: none ;
    }

    .site-header .main-navigationbar {
        position: relative;
    }

    .site-header .main-navigationbar .menu-items-col .main-nav>li:not(:last-of-type) {
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
        border-bottom: 1px solid var(--black);
    }

    /* footer */
    .site-footer .footer-wrapper {
        padding: 40px 0 20px;
    }

    .site-footer .footer-logo {
        padding-bottom: 20px;
    }

    .site-footer .footer-right {
        margin: 30px 0 0 0;
    }

    .site-footer .footer-col {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .site-footer .footer-col .footer-widget .acnav-label1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 10px;
        font-size: 16px;
    }

    .site-footer .footer-col .footer-widget .acnav-label1 span {
        flex: 1;
        display: block;
    }

    .site-footer .footer-col .acnav-label1 svg {
        height: 11px;
        width: 11px;
        transition: all 500ms ease-in-out 0s;
        -webkit-transition: all 500ms ease-in-out 0s;
        -moz-transition: all 500ms ease-in-out 0s;
        -ms-transition: all 500ms ease-in-out 0s;
        -o-transition: all 500ms ease-in-out 0s;
    }

    .site-footer .footer-col .footer-widget .acnav-label1 svg path {
        fill: var(--white);
    }

    .site-footer .footer-col .is-open.acnav-label1>svg {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    .footer-row .acnav-list1,
    .site-footer .footer-col h2:after {
        display: none;
    }

    .footer-row .acnav-list1 {
        margin: 15px 0 20px 0;
    }

    .site-footer .footer-col:not(:first-child) {
        padding: 0;
    }

    .site-footer .footer-widget ul.acnav-list1>li:not(:last-of-type) {
        margin-bottom: 8px;
    }

    /* home-banner */
    .home-banner-sec .working-hrs-wrp {
        display: none;
    }

    .home-banner-sec .banner-content {
        border-radius: 0 0 25px 25px;
        box-shadow: none;
        padding: 20px;
        text-align: center;
    }

    .home-banner-sec .product-item-img {
        padding-bottom: 50%;
        margin-right: 0;
    }

    .home-banner-sec .product-item-img img {
        border-radius: 25px 25px 0 0;
    }


    .home-banner-sec .gallery-main {
        padding-bottom: 0;
    }

    .home-banner-sec .banner-bottom {
        margin-top: 20px;
    }

    .our-team-img {
        max-width: 100%;
    }

    /* photo-about-sec  */
    .photo-about-sec .section-title {
        margin-bottom: 30px;
        text-align: left;
    }

    .photo-about-sec .photo-about-left-wrp {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .photo-about-sec .counter-wrp {
        max-width: 400px;
        width: 100%;
    }

    /* photo-service-sec  */
    .photo-service-sec .photo-card {
        margin-bottom: 20px;
    }

    .photo-service-sec .col-md-6:not(:last-of-type) .photo-card {
        margin-bottom: 50px;
    }

    .photo-service-sec .photo-card .img-wrapper {
        padding-top: 50%;
    }

    .photo-service-sec .section-title {
        text-align: center;
    }

    /* appointment-sec */
    .appointment-sec .check-box-div li {
        padding: 0px 10px 10px 0px;
    }

    .steps ul li span {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }

    .steps ul li {
        gap: 5px;
        font-size: 12px;
    }


    .steps ul li:not(:last-of-type) {
        padding-right: 40px;
    }


    .steps ul li:not(:last-of-type)::after {
        width: 40px;
    }

    .appointment-sec .steps {
        margin-bottom: 20px;
    }

    .appointment-sec .step-btns {
        border-top: 0;
        padding-top: 0;
        margin-top: 0;
        justify-content: center;
    }

    /* our-team */
    .our-team-slider {
        padding: 0;
    }

    .photo-service-sec .photo-card-content h3 {
        font-size: 20px;
    }

    /* testimonial-sec */
    .testimonial-sec .test-thumb-img {
        margin: 0 auto;
    }


    .testimonial-sec {
        padding: 40px 0;
    }

    .testimonial-sec .test-content {
        margin: 20px 0 0 0;
    }

    .testimonial-title {
        margin-bottom: 30px;
    }

    .arrow-wrapper {
        margin: 0 auto 0;
    }

    /* portfolio-slider */
    .portfolio-slider .swiper-slide,
    .portfolio-slider .swiper-slide.swiper-slide-active {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    .portfolio-slider {
        padding: 0 15px;
    }

    /* article */
    .article-card-inner {
        flex-direction: column;
        text-align: center;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    .article-content {
        padding: 15px 0 0 0;
    }

    /* contact-us */
    .contact-right-inner {
        max-width: 100%;
        margin: 0 0 30px 0;
        text-align: center;
    }

    .contact-us-wrapper {
        flex-direction: column-reverse;
    }

    .contact-left-inner .form-group {
        margin-bottom: 10px;
    }

    /* contact-direction-sec */
    .contact-direction-sec {
        margin: 30px 0 50px;
    }

    .contact-direction-sec .contact-direction-inner iframe {
        height: 300px;
    }

    .home-banner-sec .banner-content .section-title {
        max-width: 100%;
    }

    .site-header .menu-item-right .contact-btn .btn {
        padding: 10px;
        border-radius: 15px 0px 15px 0px;
    }

    .menu-item-left.open {
        display: block;
        order: 3;
        width: calc(100% + 30px);
        height: 100%;
        margin: 15px -15px 0;
    }

    .site-header .main-navigationbar .menu-items-col .main-nav>li {
        width: 100%;
        padding: 10px 15px;
    }

    .site-header .main-navigationbar .menu-items-col .main-nav>li:last-of-type {
        padding: 0px;
    }

    .site-header.fixed .sticky-header {
        position: relative;
    }
}

@media screen and (max-width: 575px) {
    :root {
        --h1: normal 500 32px/1.1 var(--second-font);
        --h2: normal 500 20px/1.1 var(--second-font);
        --h4: normal 400 18px/1.1 var(--first-font);
        --h5: normal 500 16px/1.1 var(--first-font);
        --common-text: normal 400 14px/1.2 var(--first-font);
    }

    .gallery-thumbs {
        max-width: 200px;
        width: 100%;
        margin: 0 auto;
    }

    /* footer */

    .site-footer .subscribe-form-wrapper .subscribe-btn {
        padding: 8px;
        font-size: 14px;
    }

    .site-footer .subscribe-form-wrapper .input-wrapper {
        padding: 5px 5px 5px 7px;
    }

    .site-footer .footer-bottom-inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .footer-wrapper .footer-left p,
    .site-footer .footer-widget ul li a,
    .site-footer .footer-widget ul li p,
    .footer-bottom p,
    .article-content-bottom a {
        font-size: 14px;
    }

    /* home */
    .home-banner-sec .product-item-img {
        padding-bottom: 70%;
    }


    .home-banner-sec .banner-bottom .row {
        flex-direction: column-reverse;
    }

    .home-banner-sec .arrow-wrapper {
        margin: 0 auto 0px;
    }

    /* photo-service-sec */
    .photo-service-sec .photo-card .img-wrapper {
        padding-top: 80%;
    }

    .photo-service-sec .col-md-6:not(:last-of-type) .photo-card {
        margin-bottom: 40px;
    }

    /* appointment-sec */
    .appointment-sec .appointment-wrp {
        padding: 20px 15px;
    }

    .appointment-sec .checkbox-custom label {
        font-size: 12px;
        padding: 10px;
    }

    .appointment-sec .check-box-div li {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .appointment-sec .tabs li {
        flex: 1;
        text-align: center;
    }

    .appointment-sec .tabs li a {
        font-size: 14px;
    }

    .appointment-sec .tabs {
        gap: 10px;
        align-items: flex-end;
    }

    .steps ul li:not(:last-of-type) {
        padding-right: 20px;
    }

    .steps ul li:not(:last-of-type)::after {
        width: 20px;
    }

    .steps ul li .services {
        padding: 5px 10px;
        font-size: 12px;
    }

    /* testimonial-sec */
    .testimonial-sec h2 {
        font-size: 40px;
    }

    /* gallery-sec */
    .gallery-sec h2 {
        font-size: 42px;
        letter-spacing: 2px;
        margin: -45px 0 0 0;
    }

    /*******  testimonial sec css   *******/
    .testimonial-card .testimonial-inner {
        flex-direction: column;
        text-align: center;
    }

    .testimonial-slider .arrow-wrapper {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    .testimonial-slider {
        padding-bottom: 40px;
    }

    .testimonial-card .testimonial-image {
        max-width: 100%;
        padding-top: 70%;
    }
}

@media screen and (max-width: 375px) {

    /* photo-about-sec */
    .photo-about-sec .counter-item span {
        margin-bottom: 5px;
        font-size: 16px;
    }

    .photo-about-sec .counter-wrp .counting {
        font-size: 24px;
    }


    /* testimonial */
    .testimonial-sec h2 {
        font-size: 30px;
    }

    /* gallery-sec */
    .gallery-sec h2 {
        font-size: 36px;
        margin: -40px 0 0 0;
    }
}
