@media screen and (min-width: 1400px) and (max-width:1600px) {
   .dashboard-card .btn-wrp{
gap: 7px !important;
    }
    .dashboard-card .card-inner{
        gap: 10px;
    }
}

@media screen and (min-width: 768px){
    .qr-card-content .qr-btn{
        width: 100%;
    }
}

