/* appointment form steps css start */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: var(--border-color);
}

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
}

.appointment-sec .steps {
    margin-bottom: 20px;
    overflow-x: auto;
    padding: 0 0 20px;
}

.steps ul {
    margin: 0 auto;
    width: fit-content;
    flex-wrap: nowrap;
}
.steps ul li:not(:last-of-type)::after {
    z-index: -1;
    right: 0;
    width: 70px;
}
.steps ul li .services {
    width: max-content;
    padding: 7px 15px;
    font-size: 16px;
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
}

.steps ul li:not(:last-of-type)::after {
    display: block;
}

@media screen and (max-width: 767px) {
    .steps ul li:not(:last-of-type) {
        padding-right: 40px;
    }
    .steps ul li:not(:last-of-type)::after {
        width: 40px;
    }
}

@media screen and (max-width: 575px) {
    .steps ul li:not(:last-of-type) {
        padding-right: 20px;
    }
    .steps ul li:not(:last-of-type)::after {
        width: 20px;
    }

    .steps ul li .services {
        padding: 5px 10px;
        font-size: 12px;
    }
}

/* appointment form steps css end */
/* chatbtn css */
.vertical-btns{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    position: fixed;
    right: 20px;
    bottom: 15px;
    z-index: 3;
}
/* chatbtn css */

/* Promo code css */
.promo-code-wrapper{
    position: relative;
}
.promo-code-wrapper .btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 10px !important;
}
.promo-code-wrapper .form-control{
    padding-right: 95px;
    border-radius: 10px;
}
.appointment_info_details{
    gap: 15px;
}
.promo_code{
    margin-right: auto;
}
/* Promo code css end*/
