.datepicker-orient-bottom{
    display: block !important;
    position: absolute !important;
   }
   .dropdown-menu {
       position: absolute;
       top: 100%;
       left: 0;
       z-index: 1000;
       display: none;
       float: left;
       min-width: 10rem;
       padding: 0.5rem 0;
       margin: 0.125rem 0 0;
       font-size: 1rem;
       color: #212529;
       text-align: left;
       list-style: none;
       background-color: #fff;
       background-clip: padding-box;
       border: 1px solid rgba(0,0,0,.15);
       border-radius: 0.25rem;
   }
   .datepicker {
       padding: 4px;
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       border-radius: 4px;
       direction: ltr;
   }

/* appointment-btn-css */
.appointment-btn-icon{
    position: fixed;
    top: 235px;
    right: 0px;
    background-color:#ededed;
    padding: 12px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px 0 0 8px;
    z-index: 5;
}
.appointment-btn-icon svg{
    height: 30px;
    width: 30px;
}
.appointment-btn-icon svg path{
    stroke: #545454 ;
}


   

   /* error box css start */

    .alert {
    padding: 10px 15px;
    gap: 10px;
    margin-bottom: 15px;
    }
    .alert.alert-danger {
    background-color: #f8d7da;
    color: #842029;
    }

    .d-none{
        display: none;
    }
   /* error box css end */

   /* final step msg */
   .appointment-forms .final_step .appointment-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .appointment-forms .final_step .form-group,
   .appointment-forms .final_step .form-group label {
    margin: 0;
   }

   .appointment-forms .final_step .form-group span {
    display: flex;
    align-items: center;
    gap: 10px;
   }

   .appointment-forms .final_step .form-group span svg {
    height: 20px;
    width: 20px;
   }

   .appointment-forms .final_step .form-group span svg path {
    fill: var(--white);
   }

   .appointment-forms .final_step .form-group span {
    background: var(--theme-color);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 10px;
   }
  /* final step msg end*/



.form-one .appointment-wrp .form-group .chose-files {
    background-color: var(--theme-color);
    border-radius: 15px;
    color: var(--white);
    text-align: center;
    cursor: pointer;
    position: relative;
}
.chose-files input{
    font-size: 0px;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 20px;
}
.form-one .appointment-wrp .form-group .chose-files span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    color: white;
}

.form-one .appointment-wrp .form-group .chose-files input::-webkit-file-upload-button {
    display: none;
}

.form-one .appointment-forms {
    height: 100%;
}

/* FlexibleHours Module CSS For Flexible slot */
.appointment-sec  .checkbox-custom .timeslot-flexible {
    border-color:var(--black) !important;
}
.appointment-sec  .checkbox-custom .timeslot-flexible  span{
    font-weight: 600 !important;
}
/* FlexibleHours Module CSS End */

/* ---------25-4-2024------ */
/* .finle-step-btn{
    justify-content: space-between !important;
} */

/* business theme toaster add start */
.toast {
    background-color: #ff3a6e;
    padding: 12px;
    color: var(--white);
    border-radius: 5px;
}
.toast.bg-primary{
    background-color: #0CAF60 ;
}
.toast .d-flex{
    display: flex;
    align-items: center;
    gap: 20px;
}
.position-fixed {
    position: fixed;
    top: 15px;
    right: 15px;
    max-width: 300px;
    width: 100%;
}
.btn-close {
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    padding: 4;
    color: #000000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 16 16'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 10px;
    opacity: 0.5;
    filter: invert(1) grayscale(100%) brightness(200%);
    margin: 0 0 0 auto;
}

.toast.showing {
    opacity: 0;
}

.toast:not(.show) {
    display: none;
}
.toast-body{
    font-size: 14px;
}


/* business theme toaster add end */
.finle-step-btn .step-btn-wrapper{
    display:flex;
    gap: 15px;
    margin-left: auto;

}
.appointment-sec .step-btns .action-btn{
    gap: 15px;
    display: flex;
}
.payment-method-form .radio-group{
    margin-bottom: 15px;
}
.finle-step-btn .step-btn-wrapper,
.Shoppint-Cart-btn .action-btn{
    display: flex;
    gap: 15px;
}

@media only screen and (max-width: 575px) {
    .finle-step-btn .step-btn-wrapper{
        width: 100%;
        margin-left: 0;
    }
    .appointment_info_details p {
        font-size: 14px;
        padding: 5px 15px;
    }
    .appointment-btn-icon{
        padding: 10px;
    }
    .appointment-btn-icon svg{
        height: 25px;
        width: 25px;
    }
}
@media only screen and (max-width: 767px) {
    .finle-step-btn .btn{
         padding: 10px 14px !important;
     }
 }
#payment-options-container .radio-group{
    margin-bottom: 15px;
}


/* appointment form service or etc dropdown css start */
.appointment-form .form-group ul.list{
    max-height: 270px;
    overflow-y: auto;
}
/* appointment form service or etc dropdown css end */
.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

.appointment-sec .appointment-wrp .step-btns.finle-step-btn{
    display: flex !important;
    justify-content: end !important;
}

/* promo code css */
.promo-code-wrapper{
    position: relative;
}
.promo-code-wrapper .btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 10px !important;
}
.promo-code-wrapper .form-control{
    padding-right: 95px;
    border-radius: 10px;
}
.appointment_info_details{
    gap: 15px;
}
.promo_code{
    margin-right: auto;
}
/* promo code css end */
